<header class="library_header-background">
    <div class="library_container">
      <div class="library_header-section">
        <nav class="library_navigation">
          <a  href="./index.html" class="navigation__logo library_logo">
            <svg class="library_logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="library_logo__label">Filmoteka</span>
          </a>
          <ul class="library_navigation-bar">
            <li class="library_navigation-bar__item">
              <a
                href="./index.html"
                class="navigation-bar__link"
                >Home</a
              >
            </li>
            <li class="library_navigation-bar__item">
              <a href="" class="library_navigation-bar__link library_navigation-bar__link--current-page"
                >My library</a
              >
            </li>
          </ul>
        </nav>

        <form class="library_form" id="search-form">
         
          <input
          autocomplete="off"
            type="text"
            name="query"
            placeholder="Movie search"
            class="library_form-input"
          />
          <button type="submit" class="library_form-btn">
            <svg class="library_form-icon" width="12" height="12">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <div class="library_form-warning form-warning--hide">Search result not successful. Enter the correct movie name and try again, please.</div>
        </form>
      </div>
    </div>
  </header>
