<header class="library_header-background">
    <div class="library_container">
      <div class="library_header-section">
        <nav class="library_navigation">
          <a  href="./index.html" class="navigation__logo library_logo">
            <svg class="library_logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="library_logo__label">Filmoteka</span>
          </a>
          <ul class="library_navigation-bar">
            <li class="library_navigation-bar__item">
              <a
                href="./index.html"
                class="navigation-bar__link"
                >Home</a
              >
            </li>
            <li class="library_navigation-bar__item">
              <a href="" class="library_navigation-bar__link library_navigation-bar__link--current-page"
                >My library</a
              >
            </li>
          </ul>
        </nav>
       
        <form>
          <div role="group">
            <ul class="store">
              <li class="store__item">
                <label class="store__label">
                  <input
                    type="radio"
                    name="store-btn"
                    value="Watched"
                    class="store__input visuallyhidden"
                    checked
                  />
                  <span class="store__btn" id="WatchedButton">Watched</span>
                </label>
              </li>
              <li class="store__item">
                <label class="store__label">
                  <input
                    type="radio"
                    name="store-btn"
                    value="Queue"
                    class="store__input visuallyhidden"
                  />
                  <span class="store__btn" id="QueueButton">Queue</span>
                </label>
              </li>
            </ul>
          </form>

      </div>
    </div>
  </header>
